<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">

    <!-- Google Translate Web Element -->
    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en', // Default language of your website
        includedLanguages: 'es,fr,de,zh-CN', // Languages to display (comma-separated)
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element'); // ID of the container div
    }
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>

    <nav class="navbar">
        <div class="logo"><img src="logo.png" class="logo"></div>
        <ul class="nav-links">
            <li><a href="https://bergenstekniskemuseum.no">Bergens Tekniske Museum</a></li>
        </ul>
        <div class="google_translate_element"></div>
    </nav>

    <section class="content-grid">
      {{ content }}
    </section>

    <footer>
        <p>&copy; Bergens Tekniske Museum</p>
    </footer>

</body>
</html>